.container-top {
    width: 100%;
    height: 150px;
    margin-top: 0%;
    background-color: #964B00;
}

#logo {
    float: left;
    width: 200px;
    height: 150px;
    margin-left: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #947352;
    text-align: left;
}